/* You can add global styles to this file, and also import other style files */

* {box-sizing: border-box;}
html, body, html body.swal2-height-auto { height: 100% !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
